<!--{% import "bootstrap/wtf.html" as wtf %}-->

{% block content %}
{% include "header.html" %}

	<div class="main-wrapper">

		<article class="blog-post px-3 py-5 p-md-5">
			<div class="container single-col-max-width">
				<header class="blog-post-header">
					<h2 class="title mb-2">{{post.title}}</h2>
					<div class="meta mb-3"><span class="date">Published on {{post.date}} </span><span class="time">5 min
							read</span><span class="comment"><a class="text-link" href="#">4 comments</a></span></div>
				</header>

				<div class="blog-post-body">
					<figure class="blog-banner">
						<a href="https://made4dev.com"><img class="img-fluid"
								src="{{post.img_url}}" alt="image"></a>
						<figcaption class="mt-2 text-center image-caption">Image Credit: <a class="theme-link"
								href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium
								Programming T-shirts)</a></figcaption>
					</figure>
					<p>{{ post.body|safe }}</p>
					{% if current_user.id == 1 %}
            <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
            </div>
					</div>
            {% endif %}

<!--				<nav class="blog-nav nav nav-justified my-5">-->
<!--					{% if post.id > 1 %}-->
<!--					<a class="nav-link-prev nav-item nav-link rounded-left" href="{{ url_for('show_post', post_id=(post.id-1)) }}">Previous<i-->
<!--							class="arrow-prev fas fa-long-arrow-alt-left"></i></a>-->
<!--					{% endif %}-->
<!--					<a class="nav-link-next nav-item nav-link rounded-right" href="{{ url_for('show_post', post_id=(post.id+1)) }}">Next<i-->
<!--							class="arrow-next fas fa-long-arrow-alt-right"></i></a>-->
<!--				</nav>-->

<!--				<div class="blog-comments-section">-->
<!--				&lt;!&ndash;//blog-comments-section&ndash;&gt;-->
<!--            {{ ckeditor.load() }}-->
<!--            {{ ckeditor.config(name='body') }}-->
<!--            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
<!--          <div class="col-lg-8 col-md-10 mx-auto comment">-->
<!--              <ul class="commentList">-->
<!--                {% for comment in post.comments %}-->
<!--                <li>-->
<!--                    <div class="commenterImage">-->
<!--                      <img src="{{ 'comment.author.email' | gravatar }}"/>-->
<!--                    </div>-->
<!--                    <div class="commentText">-->
<!--                      <p>{{ comment.text | safe }}</p>-->
<!--                      <span class="date sub-text">{{ comment.author.name }}</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                {% endfor %}-->
<!--              </ul>-->
<!--            </div>-->
<!--			</div>-->
			</div>
		</article>

{% include "post-footer.html" %}
{% endblock %}